body{
   margin:0
   backgrond: #f5f5f5;
}

header{
   margin:auto;
   min-height: 8vh;
}

.cabeceraUno{
   float:left;
   margin-top:20px;
   margin-left:7%;
   font-weight:bold;
}

.cabeceraUno a:link,a:visited{   
   text-decoration: none;
}
.cabeceraDos{
   float:right;
   margin-top:20px;
   margin-right:7%;
   font-weight:bold;
}

.cabeceraDos a:link,a:visited{   
   text-decoration: none;
}
.contUno{margin:auto}
.saRowDos:NOT(:first-child) .avCol-0{
    width:25%;
	float:left;
	text-align: left;
	margin-left:5%;
}
.avCol-1{
	width:55%;
	float:right;
	margin-right:10%;
	text-align: left;
}
.saRowDos:nth-last-child(2) .avCol-0{
	width:100%;
	text-align: center;
	margin-left:0;
}

#seguir{
	margin:auto;
}
#cnclBtn{
	display:none;
}

@media screen and (max-width: 768px){
   /* Tablets */
   .cabeceraUno{
   font-size: 20px;
 }  
  .cabeceraDos{
   font-size: 20px;
  }

}

@media screen and (max-width: 420px) {
   /* Telefonos */
   header{
      min-height: 40px;
   }
   body {
      margin:0px;
   }
   .contenedorUno{
      margin-top: 0px;
   }
   .cabeceraDos{
         display:none;}
}

.resolucion{
	display:none;
}
/*	
@media (max-width: 299px) {
   header{display:none;}
   .resolucion{
      display:block;
	  text-align:center;
	  padding-top:250px;
   }
}