
#secOne{
	margin-top:0px;
	font-size:20px;
    height:440px;
    width:633px;
	padding-left:40px;
	padding-right:40px;
	border-style:solid;	
}

#atIz,#atIzTwo{
	font-size:20px;
}

#atDer,#atDerTwo{
	float:right;
	font-size:20px;
}

#tit,#titTwo{
	text-align:center;
}

#secTwo{
	display:none;
	margin-top:20px;
	font-size:20px;
    height:440px;
    width:633px;
	padding-left:40px;
	padding-right:40px;
	border-style:solid;	
}
body{
    margin:auto;
    width:720px;
	overflow:auto;
}
#fecTwo{
	text-align:right;
	margin-right:50px;
}

#nombre,
#cedula,
#monto,
#concepto,
#formaPago,
#referencia{
	margin-left:10px; 
	margin-right:15px;
	line-height:25px;
	font-weight:bold;
	font-size:20px
}
#nombreTwo,
#cedulaTwo,
#montoTwo,
#conceptoTwo,
#formaPagoTwo,
#referenciaTwo{
	margin-left:10px; 
	margin-right:15px;
	line-height:25px;
	font-weight:bold;
	font-size:20px
}
#cuerpo{
	margin-top:40px;
	margin-bottom:60px;
}
#conforme{
	border-top-style:solid;
	width:160px;
	text-align:center;
	display:inline;
	margin-left:450px;

}
#smallOne{
	text-align:center;
	margin-top:30px;
	margin-bottom:0px;
	line-height:15px;
	font-size:15px
}
#smallTwo{
	text-align:center;
	margin-top:0px;
	line-height:15px;
	font-size:15px;
}

#nomEd,#nomEdTwo{
	float:left;
	margin-left:10px;
}
#numRi,#numRiTwo{
	float:left;
	margin-left:12px;
}
#dir,#ciu,#est,#tel,#email,#dirTwo,#ciuTwo,#estTwo,#telTwo,#emailTwo{
	float:left;
	margin-left:10px;
}
#nombEdif,#nombEdifTwo{
	font-weight: bold;
}

#buttonPrint{
   float:right;
   height:40px;
   width:150px;
   margin-top:50px;
}

#buttonReturn{
 float:left;
 height:40px;
 width:150px;
 margin-top:50px;
}




